@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

.main-container {
  width: 800px;
}

/* Responsive design */

/* Large screens (desktops) */
@media only screen and (min-width: 1200px) {
  .main-container {
    width: 800px;
  }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .main-container {
    width: 500px;
  }
}

/* Small screens (mobiles) */
@media only screen and (max-width: 899px) {
  .main-container {
    width: 350px;
  }
}